
   <!-- <div id="detalhe" class="row d-flex justify-content-center"> -->
    
    <div class="float-right mt-4 mb-3">
          <a class="btn btn-outline-success" [routerLink]="['/produtos']" >Novo Produto</a> 
            </div> 
            
    
        <table class="table table table-striped mt-5 ">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of produtos">
                    <td> {{ u.id }} </td>
                    <td> {{ u.nome }} </td>
                    <td> {{ u.preco }}</td>
                    <td> {{ u.descricao }}</td>
                        <td>
                            
                            <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-outline-danger mr-2" (click)="deletar( u.id )">Deletar </button>
                             <button class="btn btn-outline-info  mr-2" (click)="editar( u.id )">Alterar</button>
                            </div>
                       </td> 
                </tr>
         
            </tbody>
        </table>