<p grifarParagrafo>usuario-form-works!</p>
<p grifarParagrafo>form-works!</p>


<input type='button' class=" btn btn-success m-4 btn-lg" [class.disabled]="isHabilitado" [value]="textoBotao">
<input type="button" class="btn btn-dark m-4 btn-lg" value="Desabilitar botão" (click)="desabilitarBotao()">

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Primeiro Nome</th>
        <th scope="col">Sobre Nome</th>
        <th scope="col">Apelido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usuarios" >
        <th scope="row"> {{u.id}} </th>
        <td>{{ u.primeiro_nome}}</td>
        <td>{{ u.sobrenome}}</td>
        <td>{{u.apelido}}</td>
      </tr>
    </tbody>
  </table>

{{ '2020-02-14' | dataPipe}}





  