
<input type='button' class=" btn btn-success m-4 btn-lg" [class.disabled]="isHabilitado" [value]="textoBotao">
<input type="button" class="btn btn-dark m-4 btn-lg" value="Desabilitar botão" (click)="desabilitarBotao()">

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Primeiro Nome</th>
        <th scope="col">Sobre Nome</th>
        <th scope="col">Apelido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usuarios" >
        <th scope="row"> {{u.id}} </th>
        <td>{{ u.primeiro_nome}}</td>
        <td>{{ u.sobrenome}}</td>
        <td>{{u.apelido}}</td>
      </tr>
    </tbody>
  </table>

<app-usuario-detalhe *ngIf="pokemonSelecionado"  
                     [pokemonDetalhe] = "pokemonSelecionado" ></app-usuario-detalhe>


  <!-- Pokemons abaixo  -->
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">URL</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of pokemons.results" >
        
        <td>{{ u.name}}</td>
        <td>{{ u.url }}</td>
        <td> <a href = "#" (click)="selecionarPokemon(u.url)" >Ver mais detalhes</a> </td>
      </tr>
    </tbody>
  </table>
  <input type="button" class="btn-dark" value="Ver +20" (click)="proximaPagina()">
  <br><br><br>
  
  <select name="select" #limit (change)="trocarLimit(limit.value)" >
    <option value="10">10</option> 
    <option value="20" selected>20</option>
    <option value="30">30</option>
  </select>

  <br><br><br>
  <table class="table table-hover table-dark">

    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Salario</th>
        <th scope="col">Idade</th>
      </tr>
    </thead>
  <tbody>
  <tr *ngFor="let u of users.data" >
    <td>{{ u.id}} </td>
    <td>{{ u.employee_name}} </td>
    <td>{{ u.employee_salary }}</td>
    <td>{{ u.employee_age }}</td>
  </tr>
</tbody>
</table>



  