
    <div class="card h-100 ">
      
        <p class='text-center'> The Illuminers </p>
       
        <div class="modal fade" id="illuminers" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Sleep On The Floor </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <iframe width="470" height="370" src="https://www.youtube.com/embed/v4pi1LxuDHc " frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
  
              </div>
            </div>
          </div>
        </div>
  
        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#illuminers">
         Sleep On The Floor
        </button>
    
    
    <!-- Fim da musica -->
    <!-- inicio da musica-->
   
        <div class="modal fade" id="illuminers2" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">The Ballad Of Cleopatra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <iframe width="470" height="370" src="https://www.youtube.com/embed/tXsQJhoauxc" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
  
              </div>
            </div>
          </div>
        </div>
  
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#illuminers2">
            The Ballad Of Cleopatra
        </button>
    
  
    <!-- Fim da musica -->
    <!-- inicio da musica-->
   
    <div class="modal fade" id="illuminers3" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> Ho Hey </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe width="470" height="370" src="https://www.youtube.com/embed/zvCBSSwgtg4" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
  
          </div>
        </div>
      </div>
    </div>
  
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#illuminers3">
      Ho Hey
    </button>
  
      
  <!-- Fim da musica -->
     <!-- inicio da musica-->
   
     <div class="modal fade" id="illuminers4" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLongTitle">My Eyes </h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <iframe width="470" height="370" src="https://www.youtube.com/embed/aWqyBkXCbk0" frameborder="0"
             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
             allowfullscreen></iframe>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
  
           </div>
         </div>
       </div>
     </div>
  
     <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#illuminers4">
      My Eyes
     </button>
  
       
   <!-- Fim da musica -->
      <!-- inicio da musica-->
   
    <div class="modal fade" id="illuminers5" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">  Stubborn Love </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe width="470" height="370" src="https://www.youtube.com/embed/5i8zeqB3-hs" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
  
          </div>
        </div>
      </div>
    </div>
  
    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#illuminers5">
      Stubborn Love
    </button>
  
      
  <!-- Fim da musica -->
  
  