
    <div class="card h-100 ">
      
      <p class='text-center'> Arctic Monkeys </p>
     
      <div class="modal fade" id="arctic1" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"> Do I Wanna Know? </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <iframe width="470" height="370" src="https://www.youtube.com/embed/bpOSxM0rNPM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#arctic1">
        Do I Wanna Know?
      </button>
  
  
  <!-- Fim da musica -->
  <!-- inicio da musica-->
 
      <div class="modal fade" id="arctic2" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"> R U Mine? </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <iframe width="470" height="370" src="https://www.youtube.com/embed/VQH8ZTgna3Q" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#arctic2">
        R U Mine?
      </button>
  

  <!-- Fim da musica -->
  <!-- inicio da musica-->
 
  <div class="modal fade" id="arctic3" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Fluorescent Adolescent </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="470" height="370" src="https://www.youtube.com/embed/ma9I9VBKPiw" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#arctic3">
   Fluorescent Adolescent
  </button>

    
<!-- Fim da musica -->
   <!-- inicio da musica-->
 
   <div class="modal fade" id="arctic4" tabindex="-1" role="dialog"
   aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLongTitle"> Knee Socks </h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <iframe width="470" height="370" src="https://www.youtube.com/embed/lyO-Sveg6a8" frameborder="0"
           allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
           allowfullscreen></iframe>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

         </div>
       </div>
     </div>
   </div>

   <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#arctic4">
     Knee Socks
   </button>

     
 <!-- Fim da musica -->
    <!-- inicio da musica-->
 
  <div class="modal fade" id="arctic5" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">  Snap Out Of It </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="470" height="370" src="https://www.youtube.com/embed/H8tLS_NOWLs" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#arctic5">
    Snap Out Of It
  </button>

    
<!-- Fim da musica -->

