

    <div class="card h-100 ">
      
      <p class='text-center'> Queen </p>
     
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"> Bohemian Rhapsody </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <iframe width="470" height="370" src="https://www.youtube.com/embed/fJ9rUzIMcZQ " frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalCenter">
        Bohemian Rhapsody
      </button>
  
  
  <!-- Fim da musica -->
  <!-- inicio da musica-->
 
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"> Radio Ga Ga </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <iframe width="470" height="370" src="https://www.youtube.com/embed/NUbWFJzICPs " frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal2">
        Radio Ga Ga
      </button>
  

  <!-- Fim da musica -->
  <!-- inicio da musica-->
 
  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Under Pressure </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="470" height="370" src="https://www.youtube.com/embed/a01QQZyl-_I" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal3">
    Under Pressure
  </button>

    
<!-- Fim da musica -->
   <!-- inicio da musica-->
 
   <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog"
   aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLongTitle"> Dont stop me now </h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <iframe width="470" height="370" src="https://www.youtube.com/embed/HgzGwKwLmgM" frameborder="0"
           allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
           allowfullscreen></iframe>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

         </div>
       </div>
     </div>
   </div>

   <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal4">
     Dont stop me now
   </button>

     
 <!-- Fim da musica -->
    <!-- inicio da musica-->
 
  <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">  Love of my life </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="470" height="370" src="https://www.youtube.com/embed/pGankmig5yM" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal5">
    Love of my life
  </button>

    
<!-- Fim da musica -->
