
<!-- <pre id="detalhe" class="row d-flex justify-content-center"> -->


    <div class="float-right mt-4 mb-3">
        <a class="btn btn-outline-success" [routerLink]="['/form-musicas']" >Cadastrar Música</a>
        </div>

    <table class="table table-hover table-dark mt-5 ">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">compositor</th>
                <th scope="col">iframe</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of usuarios">
                <td> {{ u.id }} </td>
                <td> {{ u.nome }} </td>
                <td> {{ u.compositor }}</td>
                <td> {{ u.iframe }}</td>
                <td> <button class="btn btn-outline-danger mr-2" (click)="deletar(u.id)">Deletar </button>
             </td>  
            </tr>
        </tbody>
    </table>
    <div class="col-lg-4 col-md-6 mb-4"  *ngFor="let u of usuarios">
        <div class="card h-100">
          <div class="card-body">
            <p [innerHTML]="u.iframe"></p>
            <h4 class="card-title">
              <a>{{ u.nome }}</a>
            </h4>
            <p class="card-text">{{ u.compositor }}</p>
          </div>
          <div class="card-footer">
        
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>
