  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4 text-center text-justify-center uk-text-truncate text-success border border-success rounded">
      {{varh1}}</h1>

    <div class="row">
      <div class="col-lg-6">
        <h2>Alguns cantores e bandas</h2>
        <ul>
          <li>
            Red Hot Chili Peppers
          </li>
          <li>Queen</li>
          <li>AC/DC</li>
          <li>Pink Floyd</li>
          <li>led zeppelin</li>
        </ul>
        <p>Ao lado você vê um video com algumas das 100 melhores músicas de Rock </p>
      </div>
      <div class="col-lg-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wj7QsgFdUwI" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
  
      <div class="col-md-8">
        <p>Veja nossa biblioteca abaixo</p>
      </div>


      <div class="container">
      <div class="row">

        <div class="col">
          <app-queen-list></app-queen-list>
        </div>
        <div class="col">
     <app-arctic-list></app-arctic-list>
    </div>
    <div class="col">
      <app-illuminers-list></app-illuminers-list>
     </div>
   
    </div></div>