  <!-- Page Content  border border-success rounded -->
  <div class="container">

    <h1 class="my-4 text-center text-justify-center uk-text-truncate text-success ">
      <img src="assets/icon.png" height="100px"  >SpotFail</h1>

    <div class="row">
      <div class="col-lg-6">
        <h2>Conheça nossos serviços</h2>
        <ul>
          <li>
           Atalhos diretos ao youtube
          </li>
          <li>Interface fácil</li>
          <li>Coleção de bandas</li>
          <li>Sempre pensamos no usuario</li>
        </ul>
        <p>Crie sua conta e tenha acessos a músicas inéditas</p>
      </div>
      <div class="col-lg-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ygd1WEx_yI0" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
  
      <div class="col-md-8">
        <p>Veja nossa biblioteca abaixo</p>
      </div>


      <div class="container">
      <div class="row">

        <div class="col">
          <app-queen-list></app-queen-list>
        </div>
        <div class="col">
     <app-arctic-list></app-arctic-list>
    </div>
    <div class="col">
      <app-illuminers-list></app-illuminers-list>
     </div>
   
    </div></div>