
   <body>

    
    <!-- Page Content -->
    <div class="container">
  
      <h1 class="my-4 text-center text-justify-center uk-text-truncate text-success">{{varh1}}</h1>
      <h2>Rock here man!</h2>
  
  
      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <iframe width="340" height="315" src="https://www.youtube.com/embed/JnfyjwChuNU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
         <p class="btn btn-primary">Red Hot Chili Peppers - By The Way</p> 
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <iframe width="340" height="315" src="https://www.youtube.com/embed/8MjjCuSEBsM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
         <p class="btn btn-primary">Mr Blue Sky | Animated music video</p> 
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <iframe width="340" height="315" src="https://www.youtube.com/embed/fJ9rUzIMcZQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
         <p class="btn btn-primary">Queen – Bohemian Rhapsody</p> 
          </div>
        </div>
      </div>

      
      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <iframe width="340" height="315" src="https://www.youtube.com/embed/R7A1mIdiheE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
            <div class="card-body">
              <h4 class="card-title">
               
              </h4>
              <p class="btn-lg btn-primary btn-block mr - 2 ">Arctic Monkeys - Knee Socks</p> 
               </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <iframe width="340" height="315" src="https://www.youtube.com/embed/Soa3gO7tL-c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
            <div class="card-body">
              <h4 class="card-title">
                <p class="btn-lg btn-primary btn-block mr - 2 ">Green Day: "Boulevard Of Broken Dreams"</p> 
              </h4>
               </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <iframe width="340" height="315" src="https://www.youtube.com/embed/uMfin3FwoYc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
              <h4 class="card-title">
                <p class="btn-lg btn-primary btn-block mr - 2 ">Nirvana - Smells Like Teen Spirit - Overstyle</p>
              </h4>
              </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <iframe width="340" height="315" src="https://www.youtube.com/embed/RHpClGAAvpg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="card-body">
              <h4 class="card-title">
              </h4>
              <p class="btn-lg btn-primary btn-block mr - 2 ">AC/DC - Rock N Roll Train</p>
             </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <iframe width="340" height="315" src="https://www.youtube.com/embed/YR5ApYxkU-U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           <div class="card-body">
              <h4 class="card-title">
              </h4>
              <p class="btn-lg btn-primary btn-block mr - 2 ">Pink Floyd - Another Brick In The Wall</p>
               </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <iframe width="340" height="315" src="https://www.youtube.com/embed/y8OtzJtp-EM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
              <h4 class="card-title">
              </h4>
              <p class="btn-lg btn-primary btn-block mr - 2 ">led zeppelin -  Immigrant Song</p>
              
              </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <iframe width="340" height="315" src="https://www.youtube.com/embed/Rbm6GXllBiw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
            <div class="card-body">
              <h4 class="card-title">
                <p class="btn-lg btn-primary btn-block mr - 2 ">Guns N' Roses - Paradise City</p> 
              </h4>
               </div>
          </div>
        </div>        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <iframe width="340" height="315" src="https://www.youtube.com/embed/VP2umy6TdEU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
            <div class="card-body">
              <h4 class="card-title">
                <p class="btn-lg btn-primary btn-block mr - 2 ">Sweet - Fox On The Run</p> 
              </h4>
               </div>
          </div>
        </div>        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <iframe width="340" height="315" src="https://www.youtube.com/embed/djV11Xbc914" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
            <div class="card-body">
              <h4 class="card-title">
                <p class="btn-lg btn-primary btn-block mr - 2 ">a-ha - Take On Me</p> 
              </h4>
               </div>
          </div>
        </div>

      </div>
      <!-- /.row -->
      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Principais cantores ou bandas!</h2>
          <ul>
            <li>
            Red Hot Chili Peppers
            </li>
            <li>Queen</li>
            <li>AC/DC</li>
            <li>Pink Floyd</li>
            <li>led zeppelin</li>
          </ul>
          <p>Ao lado você vê um video com algumas das 100 melhores músicas de Rock </p>
        </div>
        <div class="col-lg-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/wj7QsgFdUwI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <!-- /.row -->
  
      <hr>
  
      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Obrigado por ouvir :) </p>
        </div>
        <div class="col-md-4">
         
        </div>
      </div>
  
    </div>
    <!-- /.container -->
  
   
  </body>

